---
layout: default
---
<div id="main-wrapper" class="post-page">
  <div class="container">
    <div class="row 200%">
      <div class="8u 12u$(medium)">
        <div id="content">
          <article>
            <h1>{{page.title}}</h1>
            {{ content }}
          </article>
        </div>
      </div>
      <div class="4u 12u$(medium)">
        <div id="sidebar">
          {% if page.previous.url %}
            <section>
              <h3>Confira o post anterior</h3>

              <section class="box feature">
                <a href="{{ page.previous.url }}" class="image featured"><img src="{{ page.previous.thumb }}" alt="" /></a>
                <div class="inner">
                  <header>
                    <h2><a href="{{ page.previous.url }}" class="image featured">{{ page.previous.title }}</a></h2>
                    <time>{{ page.previous.date | date: '%d/%m/%Y' }}</time>
                  </header>
                  <p>{{page.previous.description}}</p>
                </div>
              </section>
            </section>
          {% endif %}

          <section class="latest-post">
            <h3>Ultimos posts</h3>
            <ul>
            {% for post in site.posts limit: 4 %}
              <li>
                <a href="{{ post.url }}">
                  <img src="{{ post.thumb }}" alt="" />
                  <h3>{{ post.title }}</h3>
                </a>
              </li>
            {% endfor %}
            </ul>

          </section>
        </div>
      </div>
    </div>
  </div>
</div>
